<html>
    <head>
        <title>$i18n.getText("god.events.dict.comp.dep.add")</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="decorator" content="atl.general"/>
        $webResourceManager.requireResource("jira.webresources:global-static")
        $webResourceManager.requireResource("jira.webresources:jira-global")
        $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
        $webResourceManager.requireResource("jira.webresources:calendar")
        $webResourceManager.requireResource("jira.webresources:calendar-$lang")
        $webResourceManager.requireResource("ru.mail.jira.plugins.god-events:godresource")
    </head>
    <body class="aui">
        <form onsubmit="return validateForm();" class="aui" id="agpform" name="agpform" action="${baseUrl}/rest/godeventsws/1.0/geservice/addcompdep" method="post">
            <h3>$i18n.getText('god.events.page.bmodel.addcompdep')</h3>
            <div class="field-group">
                <label for="namefld">$i18n.getText('god.events.page.namefld')<span class="aui-icon icon-required"></span></label>
                <input type="text" id="namefld" name="namefld"/>
            </div>
            <div class="field-group">
                <label for="commentfld">$i18n.getText('god.events.page.commentfld')</label>
                <textarea id="commentfld" name="commentfld" rows="3" cols="30" wrap="hard"></textarea>
            </div>
            <div class="field-group">
                <label for="vps">$i18n.getText("god.events.page.choosecomdepleadres")</label>
                <select multiple="multiple" size="10" id="vps" name="vps">
                #foreach($entry in $allUsers.entrySet())
                <option value="$entry.key">$entry.value</option>
                #end
                </select>
            </div>
            <div class="buttons-container">
                <div class="buttons">
                    <input type="submit" class="button submit" value='$i18n.getText("god.events.page.save")' #if($bms.size() == 0 || $cds.size() == 0 || $pts.size() == 0)disabled="disabled"#end/>
                    <a class="button" href='$baseUrl/plugins/servlet/godevents/viewer?page=gameprojects'>$i18n.getText("god.events.page.cancel")</a>
                </div>
            </div>
        </form>
        <script language="javascript">
            function validateForm() {
                if (!AJS.$('#namefld').val()) {
                    AJS.$('#namefld').focus();
                    AJS.$('#error').remove();
                    AJS.$('#agpform').prepend('<div id="error" name="error" class="aui-message error">Name must be set</div>');
                    return false;
                }
            }
        </script>
    </body>
</html>
