<html>
    <head>
        <title>$i18n.getText("god.events.dict.game.projects")</title>
        <meta name="decorator" content="atl.general"/>
        $webResourceManager.requireResource("jira.webresources:global-static")
        $webResourceManager.requireResource("jira.webresources:jira-global")
        $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
        $webResourceManager.requireResource("jira.webresources:calendar")
        $webResourceManager.requireResource("jira.webresources:calendar-$lang")
        $webResourceManager.requireResource("ru.mail.jira.plugins.god-events:godresource")
        <style type="text/css">
            .headerSortUp { background: url('$baseUrl/images/icons/icon_sortascending.png') no-repeat center right; }
            .headerSortDown { background: url('$baseUrl/images/icons/icon_sortdescending.png') no-repeat center right; }
            .tsheader { cursor: pointer; }
        </style>
    </head>
    <body class="aui">
        <table width="100%" height="100%" cellspacing="0" bgcolor="#ffffff">
        <tr>
            <td class="adminMenuWrap">
                #parse("templates/leftpanel.vm")
            </td>
            <td width="1" bgcolor="#bbbbbb">
            </td>
            <td valign="top">
                <table width="100%" cellpadding="10">
                  <tr>
                    <td>
                      <table class="jiraform maxWidth">
                        <tr>
                          <td class="jiraformheader">
                            <h3 class="formtitle">$i18n.getText("god.events.page.admin.gameprojects")</h3>
                          </td>
                        </tr>
                        <tr>
                          <td class="jiraformbody">
                            <table width="100%">
                              <tr>
                                <td width="85%">
                                  <table width="100%" class="grid" id="datatbl" name="datatbl">
                                    <thead>
                                      <tr class="tsheader">
                                        <th>$i18n.getText("god.events.page.info")</th>
                                        <th>$i18n.getText("god.events.page.origname")</th>
                                        <th>$i18n.getText("god.events.page.logo")</th>
                                        <th>$i18n.getText("god.events.page.pagename")</th>
                                        <th>$i18n.getText("god.events.page.developer")</th>
                                        <th>$i18n.getText("god.events.page.bmodel")</th>
                                        <th>$i18n.getText("god.events.page.companydeps")</th>
                                        <th>$i18n.getText("god.events.page.projtype")</th>
                                        <th>$i18n.getText("god.events.page.territory")</th>
                                        <th>$i18n.getText("god.events.page.status")</th>
                                        <th>$i18n.getText("god.events.page.act")</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        #foreach($gp in $gps)
                                        <tr>
                                            <td>$gp.getLocalName()</td>
                                            <td>$gp.getOrigName()</td>
                                            <td>$gp.getLogo()</td>
                                            <td>$gp.getPage()</td>
                                            <td>$gp.getDeveloper()</td>
                                            <td>$bms.get($gp.getBModel())</td>
                                            <td>$cds.get($gp.getCompDep())</td>
                                            <td>$pts.get($gp.getProjType())</td>
                                            <td>$gpTerr.get($gp.getTerritory())</td>
                                            <td>$sts.get($gp.getStatus())</td>
                                            <td>
                                                #if($isAdmin || $card.getDivisions().contains($gp.getCompDep()))
                                                <a href="$baseUrl/plugins/servlet/godevents/viewer?page=editproject&gp=$gp.getId()">
                                                    $i18n.getText("god.events.page.act.update")
                                                </a>
                                                &nbsp;&nbsp;
                                                <a href="#" onclick="deleteGameProject(event, '$baseUrl', $gp.getId());">
                                                    $i18n.getText("god.events.page.act.delete")
                                                </a>
                                                #end
                                            </td>
                                        </tr>
                                        #end
                                    </tbody>
                                  </table>
                                </td>
                                <td width="15%" valign="top">
                                  #if($isAdmin || !$card.getDivisions().isEmpty())
                                  <a href="$baseUrl/plugins/servlet/godevents/viewer?page=addproject"><b>$i18n.getText("god.events.page.act.add")</b></a>
                                  <hr/>
                                  #end
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
            </td>
        </tr>
        </table>
        #include("templates/game-projects-events.vm")
    </body>
</html>
