<html>
    <head>
        <title>$i18n.getText("god.events.dict.project.types")</title>
        <meta name="decorator" content="atl.general"/>
        $webResourceManager.requireResource("jira.webresources:global-static")
        $webResourceManager.requireResource("jira.webresources:jira-global")
        $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
        $webResourceManager.requireResource("ru.mail.jira.plugins.god-events:godresource")
        <style type="text/css">
            .headerSortUp { background: url('$baseUrl/images/icons/icon_sortascending.png') no-repeat center right; }
            .headerSortDown { background: url('$baseUrl/images/icons/icon_sortdescending.png') no-repeat center right; }
        </style>
        <script language="javascript">
            var dialogTitle = "$i18n.getText('god.events.page.bmodel.addprojtype')";
            var addBtn = "$i18n.getText('god.events.page.bmodel.addmodelbtn')";
            var cancelBtn = "$i18n.getText('god.events.page.cancel')";
            var panelBody = '<table><tr><td align="right"><label for="namefld">*$i18n.getText('god.events.page.namefld')</label></td><td><input type="text" id="namefld" name="namefld"/></td></tr><tr><td align="right" valign="top"><label for="commentfld">$i18n.getText('god.events.page.commentfld')<span class="aui-icon icon-required"></span></label></td><td><textarea id="commentfld" name="commentfld" rows="3" cols="30" wrap="hard"></textarea></td></tr></table>';
        </script>
    </head>
    <body class="aui">
        <table width="100%" height="100%" cellspacing="0" bgcolor="#ffffff">
        <tr>
            <td class="adminMenuWrap">
                #parse("templates/leftpanel.vm")
            </td>
            <td width="1" bgcolor="#bbbbbb">
            </td>
            <td valign="top">
            <table width="100%" cellpadding="10">
                  <tr>
                    <td>
                      <table class="jiraform maxWidth">
                        <tr>
                          <td class="jiraformheader">
                            <h3 class="formtitle">$i18n.getText("god.events.page.admin.prtypes")</h3>
                          </td>
                        </tr>
                        <tr>
                          <td class="jiraformbody">
                            <table width="100%">
                              <tr>
                                <td width="85%">
                                  <table width="100%" class="grid" id="datatbl" name="datatbl">
                                    <thead>
                                      <tr class="tsheader">
                                        <th>$i18n.getText("god.events.page.name")</th>
                                        <th>$i18n.getText("god.events.page.comment")</th>
                                        <th>$i18n.getText("god.events.page.act")</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                    #foreach ($pt in $pts)
                                       <tr>
                                         <td width="33%">$pt.getName()</td>
                                         #if ($pt.getComment())
                                         <td width="33%">$pt.getComment()</td>
                                         #else
                                         <td width="33%"></td>
                                         #end
                                         <td width="33%"><a onclick="deleteProjType(event, '$baseUrl', $pt.getId());">$i18n.getText("god.events.page.act.delete")</a></td>
                                      </tr>
                                    #end
                                    </tbody>
                                  </table>
                                </td>
                                <td width="15%" valign="top">
                                  <a onclick="addProjType(event, '$baseUrl');" href="#"><b>$i18n.getText("god.events.page.act.add")</b></a>
                                  <hr/>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
            </td>
        </tr>
        </table>
        <script language="javascript">
            jQuery(document).ready( function () {
                jQuery("#datatbl").tablesorter({debug: false});
            });
        </script>
        #include("templates/project-types-script.vm")
    </body>
</html>
